DJANGO_SECRET_KEY=your-django-secret-key-here
STRIPE_SECRET_KEY=your-stripe-secret-key-here
TELEGRAM_BOT_TOKEN=your-telegram-bot-token-here
TELEGRAM_CHAT_ID=your-telegram-chat-id-here
FINE_MULTIPLIER=2.00
POSTGRES_HOST=db_ls
POSTGRES_DB=postgres_db_ls
POSTGRES_USER=simple_user_ls
POSTGRES_PASSWORD=simple_password_ls